<apex:page docType="html-5.0" sidebar="false" standardStylesheets="false" controller="FileUploaderNew" showHeader="false" id="mainPage">

  <head>
   <!--Adding Jquery and Bootstrap Components to work upon -->
    <c:JQuerySetupComponent />
    <c:BootstrapSetupComponent /> 
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['table']}]}"></script>
  <!--Any Script goes here -->
  <script type="text/javascript">
    var $j = jQuery.noConflict();

    $j(document).ready(function(){
        $j("#ObjectCreationHeader").hide();
        $j("#ObjectCreationBody").hide();
        $j("#ObjectCreationFooter").hide();
        //alert('Hello');
        var Tabledata = new google.visualization.DataTable();
        var count = 0 ;
        var linesNew  = [];
        var lines = [];
        var fields = [];
        //------- On File Upload 
        $j("#filename").change(function(e){
        alert(e);
        var ext = $j("input#filename").val().split(".").pop().toLowerCase();
        if($j.inArray(ext, ["csv"]) == -1) {
        alert('Lazy Loading Only Supports .CSV for now!');
        location.reload();
        return false;
        }
        if (e.target.files != undefined) {
        var reader = new FileReader();
        reader.onload = function(e) {
        //var csvval=e.target.result.split("\n");
        var csv=e.target.result;
        var allTextLines = csv.split(/\r\n|\n/);
        //var csvvalue=csvval[0].split(",");
        //var inputrad="";
        /*for(var i=0;i<csvvalue.length;i++)
        {
        var temp=csvvalue[i];
        var inputrad=inputrad+" "+temp;
        lines.push(temp);
        linesNew.push(temp);
        }*/ 
        
        for (var i=0; i<allTextLines.length; i++) {
          //alert('allTextLines :'+allTextLines);
          var data = allTextLines[i].split(';');
           alert('data :'+data);
              var tarr = []; 
              for (var j=0; j<data.length; j++) {
                  tarr.push(data[j]);
                  //alert('tarr :'+tarr);
                  
              }
              lines.push(tarr);
              
              alert('lines :'+lines);
      }
      
        linesNew = allTextLines[0].split(',');
        alert('linesNew '+linesNew);
        $j("#csvimporthint").html($j("#objectName").val());
        $j("#FileUploadHeader").hide();
        $j("#FileUploadBody").hide();
        $j("#ObjectCreationFooter").show();
        $j("#ObjectCreationBody").show();
        $j("#ObjectCreationHeader").show();
        alert('Line----'+lines[0]);
        Tabledata.addColumn('string', 'Fields');
         for (var i=0; i<lines.length; i++) {
          $j("#popFi").append($j("<tr><td><th>"+ lines[i] +"</th></td></tr>"));
        }
      };
        reader.readAsText(e.target.files.item(0));
         var table = new google.visualization.Table(document.getElementById('table_div'));
           table.draw(Tabledata, {showRowNumber: false});
          
         
           
    }
    return lines;
   });
   
   $j("#createObjectButton").click(function(){
       alert('Hello Sachin :'+ linesNew);
       FileUploaderNew.readFileFromJavascript($j("#objectName").val(),linesNew,resultHandlerMethod,{escape:true});
       //alert(linesNew);
   });
   
   $j("#cancelButton").click(function(){
        location.reload();
   });
   
   function getFileData(myFile){
       
    }
    });
    
    
    resultHandlerMethod = function(response,event){
        console.log('****Response****'+response);
        if(event.status){
            alert('Called Successfully');
            var x = document.getElementById("filename").value;
             var lastIndex = x.lastIndexOf("\\");
              if (lastIndex >= 0) {
              x = x.substring(lastIndex +1);
             }
            alert('FileName to Pass'+x);
              
            var objectAPINAME = $j("#objectName").val().replace(" ", "_")+"__c";
            alert('***objectAPINAME****'+ objectAPINAME);
             $j("#FileUploadHeader").hide();
             $j("#FileUploadBody").hide();
             $j("#ObjectCreationFooter").hide();
             $j("#ObjectCreationHeader").hide();
             $j("#ObjectCreationBody").hide();
             $j("#moveToMapping").html('Lets Move to Mapping now..');
             $j("#moveToMappingBody").html('<img src="{!$Resource.Background}" alt="Mountain View" style="width:304px;height:228px>')
             //window.open('/apex/MapObject2?ObjectName='+$j("#objectName").val(),'_blank');
             //window.focus();
             window.open('/apex/MapObject2?StagingObjectAPI='+objectAPINAME+'&StagingObjectName='+$j("#objectName").val()+'&CSV='+x,'_self');
        }
    }
    
      
/*
      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('string','Name');
        data.addColumn('number', 'Salary');
        data.addColumn('boolean', 'Full Time Employee');
        data.addRows([
          ['Mike',  {v: 10000, f: '$10,000'}, true],
          ['Jim',   {v:8000,   f: '$8,000'},  false],
          ['Alice', {v: 12500, f: '$12,500'}, true],
          ['Bob',   {v: 7000,  f: '$7,000'},  true]
        ]);

        var table = new google.visualization.Table(document.getElementById('table_div'));

        table.draw(data, {showRowNumber: false});
      }
      
   */
  </script>
   
   
  <!--Any Styling for the page goes here -->
  <style>
     body{
        padding-top: 0px;
        background-color: white;
       }  
  </style>
  </head>
   <body>
       <div class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">File Uploader Page</a>
       </div>
       </div>
      <div class="container" height="90%" id="panelContainer1">
      
          <div class="panel panel-primary" id="giveId" >
          
            <div class="panel-heading" id="FileUploadHeader">
                <h3 class="panel-title">File Uploader Section</h3>
            </div>
          
             <div class="panel-body" style="bg-color:#C0C0C0" id="FileUploadBody">
              <div class="row">
              
               <div class="col-lg-6">
                <label> Enter Object Name</label>
                <input type="text" id="objectName" required="true" placeholder="Default Name" class="form-control"/>
               </div>
               
               <div class="col-lg-6">
               <label>Select a File</label>
                  <input type="file" name="filename" id="filename" class="form-control"/>
               </div>
               
              </div>
            </div>
            
              
            
            <div class="panel-heading" id="ObjectCreationHeader">
                <h3 class="panel-title" id="csvimporthint"></h3>
            </div>
            
            <div class="panel-body" id="ObjectCreationBody">
                <div class="row">
                    <div class="col-lg-6">
                        <div id="popFi"></div>
                         <div id="table_div"></div>
                    </div>
                </div>
            </div>
            
            <div class="panel-footer" id="ObjectCreationFooter">
              <center>
                   <input type="button" value="Thats Great!! Lets Create the Object and Fields!" class="btn btn-primary" id="createObjectButton"/>
                   <input type="button" value="Oh No! I Wanna go back!" id="cancelButton" class="btn btn-primary"/>
              </center>
            </div>
            
            <div class="panel-heading" id="panelHeader3">
                <h3 class="panel-title" id="moveToMapping"></h3>
            </div>
            <!--
             <div class="panel-body" id="panelBody3">
                <div class="row">
                    <div class="col-lg-6">
                        <div id="moveToMappingBody"></div>
                    </div>
                </div>
            </div> -->
            
           </div><!--End of Primary Panel -->
         </div>
  </body>
</apex:page>