<apex:page controller="mapObjectPageController" sidebar="false" showHeader="false">
    <link href="{!URLFOR($Resource.BootswrapComplete,'BoostWatchTheams/cerulean/bootstrap.css')}" rel="stylesheet" />
    
    
    <apex:includeScript value="{!URLFOR($Resource.JQuery,'jquery-ui-1.10.3.custom/js/jquery-1.9.1.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.JQuery,'jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js')}"/>
<link href="{!URLFOR($Resource.JQuery,'jquery-ui-1.10.3.custom/css/start/jquery-ui-1.10.3.custom.css')}" rel="stylesheet" />

    <link href="{!URLFOR($Resource.BootswrapComplete,'BoostWatchTheams/asset/css/bootswatch.min.css')}" rel="stylesheet" />
    <apex:includeScript value="{!URLFOR($Resource.BootswrapComplete,'BoostWatchTheams/asset/js/bootstrap.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.BootswrapComplete,'BoostWatchTheams/asset/js/bootswatch.js')}"/>
    <style>
        body{
        padding:0;
        }
        .form-control{
        width:72%
        }
        .ui-dialog{
          -moz-box-shadow:    3px 3px 5px 6px #888;
          -webkit-box-shadow: 3px 3px 5px 6px #888;
          box-shadow:         3px 3px 5px 6px #888;
        }
    </style>
    <script>
        $j = jQuery.noConflict();
        var listIndex = 1;
        var stgRowCounter = 1;
        var tarRowCounter = 1;
        var currModalId = '';
        
        $j(function (){
            $j( "#dialog" ).dialog({
      autoOpen: false,
      height: 300,
      width: 550,
      modal: true
      
    });
            
            var stgApiName = getUrlParameter('StagingObjectAPI');
            var stgObjName = getUrlParameter('StagingObjectName');
            mapObjectPageController.getStgFields(stgApiName,stgObjName,function(result, event){
                if(event.status){
                $j( "#stgTabl" ).empty();
                stgRowCounter=1;
                    $j.each( result, function( index, valuestgtbl ){
                      $j( "#stgTabl" ).append( $j( "<tr><td style=\"position:relative;float:none\" id=\"tblcol"+stgRowCounter+"\"><p style=\"position:relative;float:left;\" id=\"stgField"+stgRowCounter+"\">"+valuestgtbl+"</p>​</td></tr>" ) );
                      stgRowCounter = stgRowCounter+1;
                    });
                }
            });
            
            mapObjectPageController.getTarObjectItems(function(result, event){
                if(event.status) {
                    $j.each( result, function( index, valuestgO ){
                      $j( "#selectTar1" ).append( $j( "<option>"+valuestgO +"</option>" ) );
                    });
                }
            });
        });
        function getUrlParameter(sParam)
        {
            var sPageURL = window.location.search.substring(1);
            var sURLVariables = sPageURL.split('&');
            for (var i = 0; i < sURLVariables.length; i++) 
            {
                var sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] == sParam) 
                {
                    return sParameterName[1];
                }
            }
        }       
        function popDepList(){
            listIndex = listIndex +1;
            $j( "#targetDiv").append( $j( "<label for=\"select\" class=\"col-lg-2 control-label\">Object "+listIndex+"</label><div class=\"col-lg-10\"><select id=\"selectTar"+listIndex+"\" class=\"form-control\" onchange=\"fillTarget(this.id);fillTarTable();\"></select></div>" ) );
            var x = $j('#selectTar'+(listIndex-1)).val();
            if(x!='--Select--'){
                console.log(x);
                mapObjectPageController.getTarChildObject(x,function(result, event){
                    if(event.status) {
                        console.log(result);
                        $j( "#selectTar"+listIndex  ).empty();
                        $j( "#selectTar"+listIndex ).append( $j( "<option>--Select--</option>" ) );
                        $j.each( result, function( index, valuesTG ){
                          
                          $j( "#selectTar"+listIndex ).append( $j( "<option>"+valuesTG+"</option>" ) );
                        });
                    }
                });
            }
        }
        
        function fillTarget(depPickVal){
            tarRowCounter=1;
            var rr = depPickVal;
            console.log(rr);
            var currentIndex = depPickVal.slice(9);
            console.log(parseInt(currentIndex) + 1);
            var x = $j('#'+depPickVal).val();
            mapObjectPageController.getTarChildObject(x,function(result, event){
                if(event.status) {
                    $j( "#selectTar"+(parseInt(currentIndex)+1)).empty();
                    $j( "#selectTar"+(parseInt(currentIndex)+1)).append( $j( "<option>--Select--</option>" ) );
                    $j.each( result, function( index, valuestgO2 ){
                      
                      $j( "#selectTar"+(parseInt(currentIndex)+1)).append( $j( "<option>"+valuestgO2 +"</option>" ) );
                    });
                }
            });
        }
        
        
        function fillTarTable(){
            var selListArr=new Array();
            for(var i=1;i<=listIndex;i++)
            {
                selListArr[i] = $j('#selectTar'+i).val();
            }
            mapObjectPageController.getTarFields(selListArr,function(result, event){
                if(event.status){
                $j( "#tarTabl" ).empty();
                
                    $j.each( result, function( index, valuetartbl ){
                      $j( "#tarTabl" ).append( $j( "<tr><td><p id=\"tarField"+tarRowCounter+"\" style=\"position:relative;float: left;clear: both;\">"+valuetartbl+"</p><a id=\"tarButton"+tarRowCounter+"\" href=\"#\" hidden=\"false\" style=\"position:relative;  !important;margin-bottom: 7px;padding: 1px 5px;font-size: 12px;line-height: 1.5;border-radius: 3px;color: #ffffff;background-color: #dd4814;border-color: #dd4814;display: inline-block;margin-bottom: 0;font-weight: normal;text-align: center;vertical-align: middle;cursor: pointer;background-image: none;border: 1px solid transparent;white-space: nowrap;\" class=\"btn btn-primary btn-xs\" onclick = \"openModal()\">Select</a></td></tr>" ) );
                      tarRowCounter = tarRowCounter+1;
                    });
                }
            });
        }
        function autoMap(){
            var stgArr=new Array(); 
            var tarArr=new Array();
            for(var i=1;i<=stgRowCounter;i++)
            {
                stgArr[i] = $j('#stgField'+i).text();
            }
            for(var i=1;i<=tarRowCounter;i++)
            {
                tarArr[i] = $j('#tarField'+i).text();
            }
            tarRowCounter = 1;
            mapObjectPageController.createAutoMatchedSeq(stgArr, tarArr, function(result, event){
                if(event.status){
                    $j( "#tarTabl" ).empty();
                    $j.each( result, function( index, valuetartbl ){
                        
                          $j( "#tarTabl" ).append( $j( "<tr><td><p id=\"tarField"+tarRowCounter+"\" style=\"position:relative;float: left;clear: both;\">"+valuetartbl+"&nbsp; </p><a id=\"tarButton"+tarRowCounter+"\" href=\"#\" hidden=\"false\" onclick=\"openModal(this.id)\" style=\"position:relative;margin-bottom: 7px;padding: 1px 5px;font-size: 12px;line-height: 1.5;border-radius: 3px;color: #ffffff;background-color: #178acc;border-color: #1684c2;display: inline-block;margin-bottom: 0;font-weight: normal;text-align: center;vertical-align: middle;cursor: pointer;background-image: none;border: 1px solid transparent;white-space: nowrap;\" class=\"btn btn-primary btn-xs\">Select</a><a id=\"tarConfirmButton"+tarRowCounter+"\" href=\"#\" hidden=\"false\" onclick=\"conf(this.id)\" style=\"position:relative;margin-bottom: 7px;padding: 1px 5px;font-size: 12px;line-height: 1.5;border-radius: 3px;color: #ffffff;background-color: #178acc;border-color: #1684c2;display: inline-block;margin-bottom: 0;font-weight: normal;text-align: center;vertical-align: middle;cursor: pointer;background-image: none;border: 1px solid transparent;white-space: nowrap;\" class=\"btn btn-primary btn-xs\">Confirm</a></td></tr>" ) );
                        
                      tarRowCounter = tarRowCounter+1;
                    });
                }
            });
            document.getElementById("confAllButton").style.display= "inline-block";
        }
        function openModal(currId){
            console.log(currId);
            currModalId = currId;
            $j( "#dialog" ).dialog("open");
            $j( "#popFieldDiv" ).remove(); 
             
            var selListArr=new Array();
            for(var i=1;i<=listIndex;i++)
            {
                selListArr[i-1] = $j('#selectTar'+i).val();
            }
            console.log(selListArr);
            $j( "#popList" ).empty();
            $j( "#popList" ).append( $j( "<option>--Select--</option>" ) );
            $j.each( selListArr, function( index, liVals ){
                $j( "#popList" ).append( $j( "<option>"+liVals+"</option>" ) );
            });
            
        }
        
        function getpopFields(){
            var x = $j('#popList').val();
            var ignoreList=new Array();
            for(var i=1;i<=tarRowCounter;i++){
                ignoreList[i-1] = $j('#tarField'+i).text();
            }
            
            $j( "#popFieldDiv" ).remove(); 
            mapObjectPageController.getPopFields(x,ignoreList,function(result, event){
                if(event.status){
                    $j( "#popDiv").append($j("<div id=\"popFieldDiv\" style=\"position:relative;float:none;clear:both;\"></div>"));
                    $j( "#popFieldDiv").append( $j( "<label for=\"select\" id=\"lbl\"class=\"col-lg-2 control-label\">Select Field</label><div style=\"padding-left: 0px;\" class=\"col-lg-10\"><select id=\"popFi\" class=\"form-control\"></select></div>" ) );
                    $j( "#popFi" ).append( $j( "<option>--Select--</option>" ) );
                    $j.each( result, function( index, popLi ){
                        $j( "#popFi" ).append( $j( "<option>"+popLi+"</option>" ) );            
                    });
                }
            });
        }
        function popSave(){
            var x = $j('#popFi').val();  
            if(x!='--Select--')
            {
                var currentpop = currModalId.slice(9);
                console.log(currentpop);
                var pos = document.getElementById("tarField"+currentpop);
                pos.innerHTML = x;
                //$j( currModalId ).attr("display","none !important");
                $j( "#dialog" ).dialog("close");            
            }  
        }
        function conf(curStgRowId){
            console.log(curStgRowId.length);
            if(curStgRowId.length == 17){
                var currentVal = curStgRowId.slice(16);
                console.log(currentVal);
            }
            if(curStgRowId.length == 18){
                var currentVal = curStgRowId.slice(16,18);
                console.log(currentVal);
            }
            if(curStgRowId.length == 19){
                var currentVal = curStgRowId.slice(16,19);
                console.log(currentVal);
            }
            $j( "#tblcol"+currentVal).append($j("<span id=\"confButId"+currentVal+"\" style=\"position:relative;float:none;background-color: #38b44a;display: inline;padding: .2em .6em .3em;font-size: 75%;font-weight: bold;line-height: 1;color: #ffffff;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: .25em;\" class=​\"label label-success\">​Confirmed​</span>​"));        
            $j( "#tblcol"+currentVal+" > p").addClass("confirmed");
            $j("#tarButton"+currentVal).remove();
            $j("#tarConfirmButton"+currentVal).remove();
        }
        function sav(){
            var stgApiName = getUrlParameter('StagingObjectAPI');
            var selListArr=new Array();
            for(var i=1;i<=listIndex;i++)
            {
                selListArr[i-1] = $j('#selectTar'+i).val();
            }
            var stgList=new Array();
            for(var i=1;i<=stgRowCounter;i++){
                if($j( '#stgField'+i ).hasClass( "confirmed" ))
                stgList[i-1] = $j('#stgField'+i).text();
            }
            var tarList=new Array();
            for(var i=1;i<=tarRowCounter;i++){
                if($j( '#stgField'+i ).hasClass( "confirmed" ))
                tarList[i-1] = $j('#tarField'+i).text();
            }
            mapObjectPageController.save(stgApiName,selListArr,stgList,tarList,function(result, event){
            });
        }
        function confObj(){
            var selListArr=new Array();
            var stgApiName = getUrlParameter('StagingObjectAPI');
            for(var i=1;i<=listIndex;i++)
            {
                selListArr[i-1] = $j('#selectTar'+i).val();
            }
            console.log(selListArr);
            mapObjectPageController.confirmObjects(stgApiName,selListArr,function(result, event){
            });
            
        }
    </script>
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Object Mapping</a>
       </div>
   </div>
   
    <div class="well bs-component" style="height: 250px;width: 80%;position: relative;float: right;right: 80px;">
       <form class="form-horizontal" style="width: 90%;position: relative;float: left;z-index: 5">
           <fieldset>
               <legend style="color:#317eac">Choose Target Objects</legend>
               <div class="form-group" id="targetDiv">
                   <label for="select" class="col-lg-2 control-label">Object 1</label>
                   <div class="col-lg-10">
                       <select class="form-control" id="selectTar1" onchange="fillTarget(this.id);fillTarTable();">
                           <option>--Select--</option>   
                       </select>
                   </div>
                   
                 
                   
               </div>
              <!--<a href="#" onclick="popDepList()" class="btn btn-default" style="left: 890px;top: 76px;display: inline-block;  margin-bottom: 0;  font-weight: normal;  text-align: center;  vertical-align: middle;  cursor: pointer;  background-image: none;  border: 1px solid transparent;  white-space: nowrap;  padding: 8px 12px;  font-size: 14px;  line-height: 1.42857143;  border-radius: 4px;color: #ffffff;background-color: #178acc;border-color: #1684c2;">Add More Objects</a> -->
              <a href="#" onclick="confObj()" class="btn btn-default" style="left: 890px;top: 76px;display: inline-block;  margin-bottom: 0;  font-weight: normal;  text-align: center;  vertical-align: middle;  cursor: pointer;  background-image: none;  border: 1px solid transparent;  white-space: nowrap;  padding: 8px 12px;  font-size: 14px;  line-height: 1.42857143;  border-radius: 4px;color: #ffffff;background-color: #178acc;border-color: #1684c2;">Confirm</a> 
           </fieldset>
        </form>
    </div>
    <div id="buttonDiv" style="display:none;position:relative;top: 281px;">
    <center>
        <a href="#" onclick="autoMap()" style="position: relative;display: inline-block;margin-bottom: 0;font-weight: normal;text-align: center;vertical-align: middle;cursor: pointer;background-image: none;border: 1px solid transparent;white-space: nowrap;color: #ffffff;background-color: #178acc;border-color: #1684c2;padding: 14px 16px;font-size: 18px;line-height: 1.33;border-radius: 6px;" class="btn btn-primary btn-lg">Auto-Map</a>
        <a href="#" onclick="sav()" style="position: relative;display: inline-block;margin-bottom: 0;font-weight: normal;text-align: center;vertical-align: middle;cursor: pointer;background-image: none;border: 1px solid transparent;white-space: nowrap;color: #ffffff;background-color: #178acc;border-color: #1684c2;;padding: 14px 16px;font-size: 18px;line-height: 1.33;border-radius: 6px;" class="btn btn-primary btn-lg">Save</a>
        <a href="#" id="confAllButton" style="display:none">Confirm All</a>
    </center>
    </div>
    <div id="stageTable" style="position: relative;top: 94px;width: 460px;clear: left;float: left;left: 176px;">
        <table class="table table-striped table-hover " >
            <thead>
                <tr>
                    <th>Stage Object Fields</th>
                </tr>
            </thead>
            <tbody id="stgTabl">
                
            </tbody>
        </table>
    </div>
    <div id="targetTable" style="position: relative;top: 94px;width: 460px;float:right;right: 189px;">
        <table class="table table-striped table-hover " >
            <thead>
                <tr>
                    <th>Target Object Fields</th>
                </tr>
            </thead>
            <tbody id="tarTabl">
                
            </tbody>
        </table>
    </div> 
<div id="dialog" title="Basic dialog" style="display:none;width: 618px;clear: both;float: left;height: 251px;">
 
       <form class="form-horizontal" style="width: 473px;position: relative;float: left;z-index: 5">
           <fieldset>
               <legend style="color:#317eac">Choose Target Objects</legend>
               <div class="form-group" id="targetDiv">
                   
                   <div class="col-lg-10" style="padding-left: 0px;width: 405px;padding-right: 0px;display:initial;" id="popDiv">
                       <label for="select" class="col-lg-2 control-label">Object</label>
                       <select class="form-control" id="popList" style="width: 325px;" onchange="getpopFields()">
                           <option>--Select--</option>   
                       </select>
                   </div>
                   
                 
                   
               </div>
               <a href="#" onclick="popSave()" class="btn btn-default" style="display: inline-block;  margin-bottom: 0;  font-weight: normal;  text-align: center;  vertical-align: middle;  cursor: pointer;  background-image: none;  border: 1px solid transparent;  white-space: nowrap;  padding: 8px 12px;  font-size: 14px;  line-height: 1.42857143;  border-radius: 4px;color: #ffffff;background-color: #178acc;border-color: #1684c2;">Save</a> 
           </fieldset>
        </form>
</div>
</apex:page>